@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*NAVBAR*/
.container {
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.navbar {
    background: rgb(23, 23, 24);
    position: fixed;
    width: 100%;
    top:0;
}

.nav-header span {
    color: rgb(72, 202, 235);
}
  
.nav-header {
    display: flex;
    justify-content: space-between;
}
  
.nav-toggle {
    border: transparent;
    background: transparent;
    color: white;
    font-size: 1.7rem;
}

/*FORM*/
.form-container {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 30px;
   background-color: wheat;
   border-radius: 10px;
   max-width: 700px;
   width: 90%;
   margin: auto;
   margin-top: 90px;
   
}
.form-container form .title {
    font-size: 25px;
    font-weight: 700;
}

.form-container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box {
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

.input-box span {
    font-weight: 200;
    margin-bottom: 5px;
}
.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 2px solid whitesmoke;
    font-size: 16px;
}

form .user-details .radio-box {
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
}
form .radio-box .gender-title  {
    font-weight: 400;
}

.radio-options {
    display: flex;
    flex-direction: column;
    padding:10px 0;
}


.check-options {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
form .button {
    display: flex;
    justify-content: center;
}
form .button input {
    width: 50%;
    background: #1f53c5;
    color: aliceblue;
    border: none;
    padding: 20px;
    margin-top: 25px;
    font-size: 25px;
    border-radius: 5px;
}
.multiple-choice {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    justify-content: space-between;
}

.comment-box .comment-detail input {
    height: 150px;
    min-width: 650px;
    outline: none;
    border-radius: 5px;
    border: 2px solid whitesmoke;
    font-size: 16px;
}

 